body{
    text-align: center;
    background-color: lightblue;
}
#headerContainer {
    grid-area: header;
    background-color: lightblue;
    width: 100%;
    height: 50px; 
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-decoration: wavy;
    font-size: 1.5rem;
    font-family: cursive;
}

#canvas {
    background-image: url(../Assets/Fondo\ Nivel\ 1.webp);
}

#gameOverScreen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);;
    color: white;
    padding : 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
    z-index: 1000;
}

#gameOverScreen h2 {
    font-size: 35px;
}

#gameOverScreen button {
    font-size: 18px;
    cursor: pointer;
}