body {
  margin: 0;
  background-color: lightblue;
}

#headerContainer{
    grid-area: header;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-decoration: wavy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
  }

  h1{ 
    margin: 0px;
  }
  
  #canvasContainer {
    position: relative;
    width: 1000px;  /* Establece el tamaño del contenedor */
    height: 600px;  /* Establece el tamaño del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

#canvas {
  width: 100%; /* Hace que el canvas ocupe todo el tamaño del contenedor */
  height: 100%; /* Hace que el canvas ocupe todo el tamaño del contenedor */
  background-image: url('../Assets/Fondo\ Nivel\ 1.webp');
  background-size: cover;
  background-position: center;
}

#gameOverScreen {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.75);;
    color: white;
    padding : 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    text-align: center;
    z-index: 1000;
}

#gameOverScreen h2 {
    font-size: 35px;
}

#gameOverScreen button {
    font-size: 18px;
    cursor: pointer;
}

