body {
  margin: 0;
  background-color: lightblue;
}

#headerContainer{
    grid-area: header;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    text-decoration: wavy;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
  }

  h1{ 
    margin: 0px;
  }
  
  #canvasContainer {
    position: relative;
    width: 1000px;  /* Establece el tamaño del contenedor */
    height: 600px;  /* Establece el tamaño del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    border: 10px solid black; /* Añade un borde al contenedor */
}

#canvas {
  width: 100%; /* Hace que el canvas ocupe todo el tamaño del contenedor */
  height: 100%; /* Hace que el canvas ocupe todo el tamaño del contenedor */
  background-image: url('../Assets/mainFondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

  #login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos de los inputs del formulario */
#login-form input {
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo para el botón de login */
#login-form button {
    width: 270px;
    padding: 10px;
    background-color: lightblue;
    color: black;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #45a049;
}
