


#headerContainer{
    grid-area: header;
    background-color: lightblue;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: wavy;
    font-size: 1.5rem;
  }

  h1{ 
    margin: 0px;
  }

  #canvasContainer {
    position: relative;
    width: 1000px;  /* Establece el tamaño del contenedor */
    height: 600px;  /* Establece el tamaño del contenedor */
    margin: 0 auto; /* Centra el contenedor */
}

#canvas {
  width: 100%; /* Hace que el canvas ocupe todo el tamaño del contenedor */
  height: 100%; /* Hace que el canvas ocupe todo el tamaño del contenedor */
  background-image: url('../../Imagenes/FondoJuego.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#botonTienda {
  position: absolute;
  top: 10px; /* Mantiene la distancia desde arriba */
  left: 10px; /* Ajusta para que no esté pegado completamente a la izquierda */
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}