#headerContainer {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  margin: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

h1 { 
  margin: 0px;
}

#canvasContainer {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: relative;
}

#canvas {
  background-image: url('../../Imagenes/TiendaFondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Contenedor de los grids dentro del canvas */
.grid-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 90%;
  top: 150px; /* Espacio en la parte superior */
  z-index: 2;
  flex-wrap: wrap;
}

/* Estilos de los grids */
.grid-item {
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
}

.grid-item img {
  margin: 5px 0;
}

.buy-button {
  background-color: #5EA1D7;
  color: black;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #5EA1D7;
}

#grid-item-color img {
  width: 160px;
  height: 100px;
}

#grid-item-turbo img {
  width: 120px;
  height: 100px;
}

#grid-item-monedas img {
  width: 160px;
  height: 100px;
}

#grid-item-escudo img {
  width: 160px;
  height: 100px;
}

#inicioButton {
  display: flex;
  position: absolute;
  top: 10px; /* Mantiene la distancia desde arriba */
  left: 260px; /* Ajusta para que no esté pegado completamente a la izquierda */
  padding: 10px 15px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

#inicioButton:hover {
  background-color: #c44127;
}